doctype html
html
  head
    title Verma Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
               img(src="/static/img/logo.png")
               | VDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]

    block content
    footer#footer
        | Copyright &copy 2020 VermaDanceAcademy.com All rights | reserved 
        br
        |   Designed and Created by Verma's Web Developer  Contact us - +91 7827716938 