@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}
#navbar{
    background-color: #fb1212;
    padding: 5px 14px;
    font-family: 'Ubuntu', sans-serif;
}

#navbar ul{
display: flex;
flex-direction: row;
/*justify-content: center;*/
align-items: center;
}

#navbar li{
    list-style: none;
}

#navbar li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 18px 25px;
}
#navbar li a:hover {
    color: black;
}

#introSection{
    padding-bottom: 30px;
height: 422px;
background-color: red;
flex-direction: column;
background: center/cover no-repeat url("/static/bg.jpg");
color: white;
justify-content: center;
align-items: center;
display: flex;
font-size: 45px;
}
#introSection div.small{
font-size: 29px;
padding: 5px;
}
#sponsorsSection{
    height: 300px;
    background-color: #fbd6d6c7;
}

#missionSection{
    height: 326px;
    width: 90%;
    margin: auto;
   
}

#missionSection h2{font-size: 36px;
    text-align: center;
  padding-top: 12px;
  }
  

#sponsorsSection h2{font-size: 36px;
  text-align: center;
padding-top: 12px;
 font-family: 'Ubuntu', sans-serif;
}
#sponsors{
    height: 191px;
    max-width: 1000px;
    margin: 27px auto;
}
.spImage{
 height: 80%;
 margin: 20px;
}

#footer{
height: 60px;
background-color: black;
color: white;
font-size: 17px;
justify-content: center;
align-items: center;
display: flex;
}


.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 15px;
    height: 209px;
    display: inline-block;
}

.card h3{
 text-align: center;
 margin: 0 12px;
 margin-top: 24px;
}

#logo{
display: flex;
color: white;
align-items: center;
margin: 0 14px;

}

#logo img{
    height: 42px;
    filter: invert(1);
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img{
height: 131px;
padding: 0 14px;
margin: 5px 9px;
}

.card-img img{
    height: inherit;
}
.card-content{
padding: 0 10px;
}
.card-content p{
font-size: 19px;
font-family: 'Ubuntu', sans-serif;
}